<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>abuilder</display-name>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>service.rest;org.codehaus.jackson.jaxrs</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>auth.openid.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/auth/openid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterLogin</display-name>
    <servlet-name>TwitterLogin</servlet-name>
    <servlet-class>twitter.TwitterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterLogin</servlet-name>
    <url-pattern>/TwitterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterCallback</display-name>
    <servlet-name>TwitterCallback</servlet-name>
    <servlet-class>twitter.TwitterCallback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterCallback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterConnected</display-name>
    <servlet-name>TwitterConnected</servlet-name>
    <servlet-class>twitter.TwitterConnected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterConnected</servlet-name>
    <url-pattern>/has_twitter</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>InitDatabase</display-name>
    <servlet-name>InitDatabase</servlet-name>
    <servlet-class>admin.InitDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDatabase</servlet-name>
    <url-pattern>/admin/db</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin panel</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <!-- <login-config>
    <auth-method>FORM</auth-method>
  </login-config>
  <security-role>
    <description>Administrators</description>
    <role-name>jdbc_remote_access_admin</role-name>
  </security-role>
   -->
  <servlet>
    <description></description>
    <display-name>AppControl</display-name>
    <servlet-name>AppControl</servlet-name>
    <servlet-class>servlets.AppControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppControl</servlet-name>
    <url-pattern>/admin/control</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>