<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>abuilder</display-name>
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>service.rest;org.codehaus.jackson.jaxrs</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>InitDatabase</display-name>
    <servlet-name>InitDatabase</servlet-name>
    <servlet-class>admin.InitDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDatabase</servlet-name>
    <url-pattern>/admin/db</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin panel</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>AppControl</display-name>
    <servlet-name>AppControl</servlet-name>
    <servlet-class>admin.AppControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppControl</servlet-name>
    <url-pattern>/admin/control</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticatedUserFilter</display-name>
    <filter-name>AuthenticatedUserFilter</filter-name>
    <filter-class>auth.filter.AuthenticatedUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticatedUserFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BeginAuthorization</display-name>
    <servlet-name>BeginAuthorization</servlet-name>
    <servlet-class>auth.login.BeginAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginAuthorization</servlet-name>
    <url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>auth.login.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsUserLogged</display-name>
    <servlet-name>IsUserLogged</servlet-name>
    <servlet-class>auth.IsUserLogged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsUserLogged</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <security-role>
    <description>Administrators</description>
    <role-name>remote_access_admin</role-name>
  </security-role>
  <security-role>
    <description>Users</description>
    <role-name>user</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin panel</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>remote_access_admin</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>auth.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>auth.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PointsCategs</display-name>
    <servlet-name>PointsCategs</servlet-name>
    <servlet-class>admin.PointsCategs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointsCategs</servlet-name>
    <url-pattern>/admin/points/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Codes</display-name>
    <servlet-name>Codes</servlet-name>
    <servlet-class>admin.Codes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Codes</servlet-name>
    <url-pattern>/admin/points/codes</url-pattern>
  </servlet-mapping>
</web-app>